*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.main{
    width: 100vw;
    height: 100vh;
    background: #f5f6fb;
}
.left{
    border-right: 3px solid #f1f1f3;
    background: white;
    height: 100vh;
    width: 12vw;
    float: left;
}
.middle{
    float: left;
}
.right{
    border-left: 3px solid #f1f1f3;
    background: white;
    height: 100vh;
    width: 27vw;
    float: right;
}
.header{
    float: left;
    margin-left: 2vw;
    margin-top: 4vh;
    position: absolute;
}
.centre{
    float: left;
}
.TopBox{
    background: #f8e5e9;
    height: 17vh;
    width: 57vw;
    float: left;
    margin-top: 12vh;
    margin-left: 2vw;
    border-radius: 15px;
}
.middleBox{
    margin-left: 2vw;
    margin-top: 33vh;
}
.LeftBox{
    float: left;
    height: 45vh;
    width: 25vw;
    background: white;
    border-radius: 15px;
}
.RightBox{
    float: left;
    height: 45vh;
    width: 30vw;
    background: white;
    border-radius: 15px;
    margin-left: 2vw;
}
.footer{
    margin-left: 2vw;
    margin-top: 82vh;
    width: 57vw;
}
.f-Header{
    float: left;
}
.courseBoxes{
    float: left;
    width: 57vw;
    margin-top: 3vh;
}
.course1{
    float: left;
    background: #4c4cac;
    height: 10vh;
    width: 18vw;
    border-radius: 15px;
}
.course2{
    margin-left: 1.5vw;
    float: left;
    background: #9396d1;
    height: 10vh;
    width: 18vw;
    border-radius: 15px;
}
.course3{
    margin-left: 1.5vw;
    float: left;
    background: #f0848f;
    height: 10vh;
    width: 18vw;
    border-radius: 15px;
}